.input-container {
  position: relative;
  height: 2.5rem;
}

.input-container__input {
  font-family: inherit;
  height: 100%;
  width: 100%;
  background-color: var(--color-input-background);
  color: var(--color-total-background);
  border: 2px solid var(--color-input-background);
  padding-right: 1rem;
  font-size: 1.5rem;
  text-align: right;
}

.input-container__input:focus {
  outline: none;
  border-color: var(--color-primary);
}

.input-container__input--custom {
  text-align: center;
  font-size: 1rem;
  padding-right: 0;
}

.input-container__icon {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translate(-50%, -50%);
}
