:root {
  --color-primary: hsl(172, 67%, 45%);
  --color-total-background: hsl(183, 100%, 15%);
  --color-neutral: hsl(0, 0%, 100%);
  --color-background: hsl(185, 41%, 84%);
  --color-input-background: hsl(189, 41%, 97%);
  --color-reset-button: hsl(186, 14%, 43%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", monospace;
}
