.btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: inherit;
}

.btn--tip {
  height: 2.5rem;
  background-color: var(--color-total-background);
  color: var(--color-neutral);
  border-radius: 4px;
  font-size: 1.125rem;
  transition: 0.3s;
}

.btn--reset {
  background-color: var(--color-primary);
  color: var(--color-neutral);
  width: 100%;
  height: 2.5rem;
  border-radius: 4px;
  margin-top: auto;
}

.btn--tip:hover {
  background-color: var(--color-primary);
}
